/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

img {
  height: auto;
  width: 100%;
}

.flex-spacer {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 2px 15px -8px rgba(0, 0, 0, 0.42);
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #f68819;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.img {
  width: 80%;
  margin: 0 auto;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 0;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin:0 auto;
  margin-bottom: 16px;
}

.card_title {
  display: block;
  margin-left: 8px;
    min-width: 160px;
text-align: left;
}

.coin__symbol {
  display: block;
  margin-bottom: 10px;
}

.card_title {
  width: 50px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;

}
  .darkmode .navbar {
    background-color: #1F2022;
    border: none;
  }

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

img {
  height: auto;
  width: 100%;
}

.flex-spacer {
  width: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.charts {
  width: 80%;
  margin: 0 auto;
}

.chart__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 0;
  width: 100%;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin-bottom: 16px;
}

.coin__title {
  display: block;
  margin-left: 8px;
    min-width: 160px;
text-align: left;
}

.coin__symbol {
  display: block;
  margin-bottom: 10px;
}

.coin__logo {
  width: 50px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;

  .navbar {
    background-color: #1F2022;
    border: none;
  }
}

  App{width:900px;}

  img{width:400px;}
  
  
  .card {display:flex; padding:10px; }
  .card div{display:flex; padding:2%; }
  .container,.column{display:flex;flex-wrap: wrap;}
  
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.columnTitles {
    display: flex;
    justify-content: flex-end;
    min-width:650px;
    padding:10px;
}

.columnTitles>div {
    display: flex;
    place-content: flex-end;
    font-size: 1.4rem;
    color: #313843;
    text-shadow: 0.28px 0.46px 2px #313313, 0.24px 0.48px 1px #313333, -0.48px -0.12px 2px #fff;
    padding: 2%;
}

.columnTitles div div {
    padding: 1%;
    border-radius: 8px;
    color: #2f4f4f;
    text-shadow: 0.24px 0.24px 4px #000, -0.76px -0.76px 1px beige;
}

.navbar {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    width: 100%;
    font-size: 7rem;
    box-shadow: 0 2px 15px -8px rgba(0,0,0,.42);
    color: #313843a3;
    text-shadow: 0.24px 0.24px 4px #0f1115, -0.76px -0.76px 1px beige;
   height:auto;
}

code {
    font-size: 8rem;
}
.toggle {
    background: #f68819;
    border-radius: 50px;
    height: 18px;
    left: 18px;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s;
    width: 20px;
    background: url(https://api.iconify.design/emojione-monotone:new-moon-face.svg) no-repeat 50%/contain;
    box-shadow: 0 0 6px 7px #607D8B;
}

.toggled {

    box-shadow: 0 0 6px 7px #ff9800;
    border-radius: 50px;
    height: 18px;
    left: 0;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s;
    width: 20px;
    background: url(https://api.iconify.design/emojione:sun-with-face.svg) no-repeat 50%/contain;
}
 
